.content__show {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 50px 500px;
}

.content__show__image {
  height: 500px;
  width: 350px;
  &__name {
    width: 350px;
    height: 60px;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
  }
}